$mobile: 320px;
$tablet: 768px;
$desktop: 1200px;

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;

    @media screen and (min-width:$mobile) {
        max-width: 480px;
    }

    @media screen and (min-width:$tablet) {
        padding-left: 32px;
        padding-right: 32px;
        max-width: 768px;
    }

    @media screen and (min-width:$desktop) {
        padding-left: 16px;
        padding-right: 16px;
        max-width: 1200px;
    }
}