@import '~node_modules/modern-normalize/modern-normalize.css';
body {
  font-family: var(--fontPrimary), var(--fontPrimaryAlternative);
  background-color: var(--bgcPage);
  color: var(--colorBlack);
  font-size: 14px;
  letter-spacing: 0.04em;
  font-weight: 500;
}

.body-fixed {
  position: fixed;
  width: 100%;
}
.section {
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
}

ul,
li {
  list-style: none;
  text-decoration: none;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

address {
  font-style: normal;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

*:focus-visible {
  outline: none;
}

:root {
  --colorPrimary: #d41443;
  --colorBlack: #000000;
  --colorWhite: #ffffff;
  --colorLine: #e1e1e1;
  --colorOverline: #ffa5ba;
  --colorBorder: #e18298;
  --colorDescription: #907e82;
  --fontPrimary: "DM Sans";
  --fontPrimaryAlternative: sans-serif;
  --fontSecondary: "Titan One";
  --fontSecondaryAlternative: cursive;
  --bgcPage: #ffffff;
  --bgcSection: #fff5f6;
  --bgcHeader: #ffb8ca;
  --bgcMenuMobile: #e17992;
  --bgcBackDrop: rgba(255, 184, 202, 0.6);
  --bgcColorBeige: #f0d1a5;
  --bgcColorLightGreen: #c2e297;
  --bgcBtnDark: #d41443;
  --bgcBtnDarkHover: #c7133e;
  --bgcBtnWhite: #ffffff;
  --bgcBtnWhiteHover: #ecebeb;
  --bgcQuote: #fafafa;
  --bgcSocial: #fea5bb;
  --paddingContainer: 16px;
  --shadowMenuMobile: -8px 0px 20px rgba(0, 0, 0, 0.25);
  --menuMobileWidth: 250px;
  --menuMobileHeight: 502px;
  --menuTabletWidth: 254px;
  --menuTabletHeight: 100vh;
  --durationPrimary: 250ms;
  --durationSecondary: 400ms;
  --timingPrimary: cubic-bezier(0.4, 0, 0.2, 1);
  --timingSecondary: ease-out;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
    width: 1200px;
  }
}
.section__header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  padding: 0;
  padding-top: 8px;
  max-width: 1600px;
  background-color: var(--bgcHeader);
}
@media screen and (min-width: 768px) {
  .section__header {
    padding-top: 29px;
  }
}
@media screen and (min-width: 1200px) {
  .section__header {
    padding-top: 37px;
  }
}

.container__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bgcHeader);
}

.header__logo {
  display: block;
  width: 199px;
  height: 50px;
}

.header__right {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1199px) {
  .nav {
    display: none;
  }
}

.nav__menu {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.38;
  color: var(--colorWhite);
}

.nav__item {
  transition: color var(--durationPrimary) var(--timingPrimary);
}
.nav__item + .nav__item {
  margin-left: 35px;
}
.nav__item:hover, .nav__item:focus, .nav__item:active {
  color: var(--colorPrimary);
}

.nav__link {
  color: inherit;
  padding: 14px 0;
}

.header__menu-btn {
  background-color: transparent;
  cursor: pointer;
}

.header__menu-mobile {
  display: block;
  width: 20px;
  height: 12px;
  flex-shrink: 0;
}
@media screen and (min-width: 1200px) {
  .header__menu-mobile {
    display: none;
  }
}

.header__menu-mobile.is-open {
  display: none;
}

.header__backdrop-menu {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: var(--menuTabletHeight);
  background-color: var(--bgcBackDrop);
  transition: visibility var(--durationPrimary) var(--timingPrimary);
}

.header__backdrop-menu.is-open {
  visibility: visible;
}

.header__menu {
  position: absolute;
  top: 0;
  left: 100vw;
  z-index: 20;
  width: var(--menuMobileWidth);
  height: 100vh;
  overflow: hidden;
  background-color: var(--bgcMenuMobile);
  box-shadow: var(--shadowMenuMobile);
  transform: translateX(0);
  opacity: 0;
  transition: transform var(--durationSecondary) var(--timingSecondary), opacity var(--durationSecondary) var(--timingSecondary);
}

.header__menu.is-open {
  transform: translateX(-100%);
  opacity: 1;
}

.header__menu-close {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 20;
  display: block;
  width: 14px;
  height: 14px;
}
@media screen and (min-width: 1200px) {
  .header__menu-close {
    display: none;
  }
}

.nav__header {
  text-align: left;
}

.nav__item-mobile {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  color: var(--colorWhite);
  border-top: 1px solid var(--colorBorder);
  border-bottom: 1px solid var(--colorBorder);
  transition: color var(--durationPrimary) var(--timingPrimary);
}
.nav__item-mobile:hover, .nav__item-mobile:focus, .nav__item-mobile:active {
  color: var(--colorPrimary);
}

.nav__item-mobile--current,
.nav__item--current {
  color: var(--colorPrimary);
}

.nav__link-mobile {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  color: inherit;
}

.button-white {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  font-weight: 700;
  font-size: 16px;
  color: var(--colorPrimary);
  background-color: var(--bgcBtnWhite);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color var(--durationPrimary) var(--durationPrimary);
}
.button-white:hover, .button-white:focus {
  background-color: var(--bgcBtnWhiteHover);
}

.button-dark {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  font-weight: 700;
  font-size: 16px;
  color: var(--colorWhite);
  background-color: var(--bgcBtnDark);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color var(--durationPrimary) var(--durationPrimary);
}
.button-dark:hover, .button-dark:focus {
  background-color: var(--bgcBtnDarkHover);
}

.button-white--desktop {
  display: block;
  width: 160px;
  height: 44px;
}
@media screen and (max-width: 767px) {
  .button-white--desktop {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .button-white--desktop {
    margin-left: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .button-white--desktop {
    margin-left: 141px;
  }
}

.button-white--menu {
  display: block;
  width: 209px;
  height: 44px;
  margin: 60px auto 19px;
}
@media screen and (min-width: 768px) {
  .button-white--menu {
    width: 186px;
  }
}

.button-white__icon,
.button-dark__icon {
  width: 5px;
  height: 8px;
  fill: currentColor;
  margin-left: 12px;
}

.hero__section {
  position: relative;
  overflow: hidden;
  background-color: var(--bgcHeader);
  height: 502px;
  width: 1600px;
}
@media screen and (min-width: 768px) {
  .hero__section {
    height: 416px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__section {
    height: 664px;
  }
}

.hero__eclipse {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%) translate(36px, 5px);
  width: 346px;
  height: 346px;
  background-color: var(--bgcSocial);
  border-radius: 50%;
}
@media screen and (min-width: 419px) {
  .hero__eclipse {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translate(0, 2px);
  }
}
@media screen and (min-width: 768px) {
  .hero__eclipse {
    width: 335px;
    height: 335px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translate(31px, 2px);
  }
}
@media screen and (min-width: 1200px) {
  .hero__eclipse {
    width: 534px;
    height: 534px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translate(184px, -11px);
  }
}

.hero__top-icecream {
  position: absolute;
  top: 9px;
  left: 81px;
  width: 171px;
  height: 410px;
  object-fit: cover;
  object-position: center;
}
@media screen and (min-width: 768px) {
  .hero__top-icecream {
    width: 143px;
    height: 336px;
    top: 38px;
    left: 74px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__top-icecream {
    width: 236px;
    height: 557px;
    top: 54px;
    left: 119px;
  }
}

.hero__left-overlay {
  position: absolute;
  top: 194px;
  left: 50%;
  transform: translateX(calc(20px - 50vw));
  text-align: left;
}
@media screen and (min-width: 768px) {
  .hero__left-overlay {
    top: 102px;
    left: 50%;
    transform: translateX(-352px);
  }
}
@media screen and (min-width: 1200px) {
  .hero__left-overlay {
    top: 147px;
    left: 50%;
    transform: translateX(-584px);
  }
}

.heading-h2 {
  font-family: var(--fontSecondary), var(--fontSecondaryAlternative);
  font-size: 48px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--colorWhite);
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .heading-h2 {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .heading-h2 {
    margin-bottom: 24px;
  }
}

.hero__heading {
  display: block;
  font-size: 26px;
  line-height: 1.15;
  text-transform: uppercase;
  color: var(--colorWhite);
  width: 218px;
}
@media screen and (min-width: 768px) {
  .hero__heading {
    font-size: 22px;
    line-height: 1.14;
    width: 162px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__heading {
    font-size: 38px;
    line-height: 1.16;
    width: 277px;
  }
}

.hero__heading--accent {
  font-size: 48px;
  line-height: 0.97;
  text-transform: uppercase;
  letter-spacing: normal;
  color: var(--colorPrimary);
}
@media screen and (min-width: 768px) {
  .hero__heading--accent {
    font-size: 34px;
    line-height: 0.91;
  }
}
@media screen and (min-width: 1200px) {
  .hero__heading--accent {
    font-size: 58px;
    line-height: 0.91;
  }
}

.hero__button-set {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 8px;
  font-weight: normal;
  line-height: 1.3;
}
@media screen and (min-width: 768px) {
  .hero__button-set {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__button-set {
    font-size: 14px;
    margin-bottom: 40px;
  }
}

.hero__button-item + .hero__button-item {
  margin-left: 8px;
}

.hero__button-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 24px;
  font-style: inherit;
  background-color: var(--bgcBtnDark);
  color: var(--colorWhite);
  border: none;
  border-radius: 20px;
  transition: background-color var(--durationPrimary) var(--timingPrimary);
}
@media screen and (min-width: 1200px) {
  .hero__button-link {
    width: 107px;
    height: 40px;
  }
}
.hero__button-link:hover, .hero__button-link:focus {
  background-color: var(--bgcBtnDarkHover);
}

.hero__button-link--light {
  width: 82px;
  background-color: var(--bgcBtnWhite);
  color: var(--colorPrimary);
  border: none;
  border-radius: 20px;
}
@media screen and (min-width: 1200px) {
  .hero__button-link--light {
    width: 138px;
  }
}
.hero__button-link--light:hover, .hero__button-link--light:focus {
  background-color: var(--bgcBtnWhiteHover);
}

.hero__milk {
  display: flex;
  justify-content: start;
  align-items: stretch;
}
@media screen and (max-width: 767px) {
  .hero__milk {
    display: none;
  }
}

.hero__milk-img {
  display: block;
  object-fit: cover;
  object-position: center;
  flex-shrink: 0;
}
@media screen and (min-width: 768px) {
  .hero__milk-img {
    display: block;
    width: 152px;
    height: 154px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__milk-img {
    width: 213px;
    height: 216px;
  }
}

.hero__milk-description {
  padding-top: 41px;
  font-size: 8;
  font-weight: normal;
  line-height: 1.5;
  color: var(--colorWhite);
}
@media screen and (min-width: 1200px) {
  .hero__milk-description {
    font-size: 14px;
    line-height: 1.4;
    padding-top: 68px;
  }
}

.hero__milk-text {
  display: block;
  flex-shrink: 0;
  width: 114px;
  margin-bottom: 7px;
}
@media screen and (min-width: 1200px) {
  .hero__milk-text {
    width: 200px;
    margin-bottom: 20px;
  }
}

.arrow-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--colorWhite);
  color: var(--colorPrimary);
  border: none;
  border-radius: 50%;
  transition: background-color var(--durationPrimary) var(--timingPrimary), color var(--durationPrimary) var(--timingPrimary);
}
.arrow-button:hover, .arrow-button:focus {
  background-color: var(--colorPrimary);
  color: var(--colorWhite);
}

.arrow-button--for-hero {
  width: 18px;
  height: 18px;
}
@media screen and (min-width: 1200px) {
  .arrow-button--for-hero {
    width: 26px;
    height: 26px;
  }
}

.arrow-button__icon {
  display: block;
  width: 13px;
  height: 12px;
  fill: currentColor;
}

.arrow-button__icon--for-hero {
  width: 6px;
  height: 5px;
}
@media screen and (min-width: 1200px) {
  .arrow-button__icon--for-hero {
    width: 9px;
    height: 8px;
  }
}

.hero__right-overlay {
  position: absolute;
  top: 94px;
  right: 50%;
  transform: translateX(352px);
  text-align: right;
}
@media screen and (max-width: 767px) {
  .hero__right-overlay {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .hero__right-overlay {
    top: 156px;
    right: 50%;
    transform: translateX(584px);
  }
}

.hero__counter-list {
  margin-bottom: 72px;
}
@media screen and (min-width: 1280px) {
  .hero__counter-list {
    margin-bottom: 109px;
  }
}

.hero__counter-item:first-child {
  margin-bottom: 13px;
}
@media screen and (min-width: 1280px) {
  .hero__counter-item:first-child {
    margin-bottom: 18px;
  }
}

.hero__numbers {
  position: relative;
  margin-bottom: 2px;
  font-family: var(--fontSecondary), var(--fontSecondaryAlternative);
  font-weight: 400;
  font-size: 28px;
  line-height: 1.14;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--colorPrimary);
}
@media screen and (min-width: 1280px) {
  .hero__numbers {
    font-size: 46px;
    line-height: 1.15;
  }
}
.hero__numbers::before {
  position: absolute;
  z-index: -1;
  top: -2px;
  right: -6px;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  content: "";
  background-color: var(--bgcPage);
}
@media screen and (min-width: 1280px) {
  .hero__numbers::before {
    width: 30px;
    height: 30px;
  }
}

.hero__description {
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  text-align: right;
  color: var(--colorWhite);
}
@media screen and (min-width: 1280px) {
  .hero__description {
    font-size: 14px;
    line-height: 1.13;
  }
}

.hero__girl {
  display: block;
  object-fit: cover;
  object-position: center;
  flex-shrink: 0;
}
@media screen and (max-width: 767px) {
  .hero__girl {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .hero__girl {
    display: block;
    width: 190px;
    height: 150px;
    margin-top: 70px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__girl {
    width: 304px;
    height: 241px;
    margin-top: 103px;
  }
}

.products__label {
  margin-bottom: 15px;
  font-family: "Titan One";
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: #FFA5BA;
}

.products__title {
  margin-bottom: 8px;
  font-family: "Titan One";
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--section-title-color);
}

.product-list__item {
  position: relative;
  margin-top: 140px;
  width: 280px;
  height: 489px;
  border-radius: 24px;
}
.product-list__item:first-child {
  background-color: #FFB8CA;
}
.product-list__item:first-child::before {
  position: absolute;
  top: -140px;
  content: " ";
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 280px;
  height: 280px;
  background-image: url(../images/products/product-1_mobile.png);
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .product-list__item:first-child::before {
    background-image: url(../images/products/product-1_mobile@2x.png);
  }
}
.product-list__item:nth-child(2) {
  background-color: #F0D1A5;
}
.product-list__item:nth-child(2)::before {
  position: absolute;
  top: -140px;
  content: " ";
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 280px;
  height: 280px;
  background-image: url(../images/products/product-2_mobile.png);
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .product-list__item:nth-child(2)::before {
    background-image: url(../images/products/product-2_mobile@2x.png);
  }
}
.product-list__item:last-child {
  background-color: #C2E297;
}
.product-list__item:last-child::before {
  position: absolute;
  top: -140px;
  content: " ";
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 280px;
  height: 280px;
  background-image: url(../images/products/product-3_mobile.png);
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .product-list__item:last-child::before {
    background-image: url(../images/products/product-3_mobile@2x.png);
  }
}

.product-list__title {
  padding-top: 160px;
  margin-bottom: 32px;
  font-family: "Titan One";
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.product-list__title::after {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  margin-top: 32px;
  content: "";
  width: 26px;
  height: 6px;
  background-image: url(../images/products/product-dot.png);
}

.product-list__describe {
  padding-left: 41px;
  padding-right: 39px;
}

.product-list__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}

.product-list__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  margin-right: auto;
  margin-left: auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: #fff;
}

.advantages {
  background-color: #fff5f6;
}

@media screen and (min-width: 768px) {
  .advantages__list {
    display: flex;
    gap: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__list {
    gap: 90px;
  }
}

.advantages__title {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--section-title-color);
  margin-bottom: 24px;
  color: #d41443;
}
@media screen and (min-width: 768px) {
  .advantages__title {
    font-size: 48px;
    margin-bottom: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__title {
    margin-bottom: 16px;
    font-size: 58px;
  }
}

.advantages__subtitle {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
  color: #000000;
  width: 230px;
}
@media screen and (max-width: 767px) {
  .advantages__subtitle {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .advantages__subtitle {
    width: 170px;
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__subtitle {
    width: 270px;
    font-size: 16px;
  }
}

.advantages__icon1::before {
  display: block;
  content: url(/src/images/png/bucket-cow.png);
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .advantages__icon1::before {
    margin-bottom: 36px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__icon1::before {
    margin-bottom: 40px;
  }
}

.advantages__icon2::before {
  display: block;
  content: url(/src/images/png/bucket-fruits.png);
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .advantages__icon2::before {
    margin-bottom: 36px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__icon2::before {
    margin-bottom: 40px;
  }
}

.advantages__icon3::before {
  display: block;
  content: url(/src/images/png/heart.png);
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .advantages__icon3::before {
    margin-bottom: 36px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__icon3::before {
    margin-bottom: 40px;
  }
}/*# sourceMappingURL=index.css.map */