<!--about-->

<section class="section about">
  <div class="container about__container">
    <b class="about__label">tradition and love</b>
    <h2 class="about__title" id="about">how it’s made?</h2>
    <div class="about__content">
      <!-- <picture class="about__img">
        <source
          srcset="
            ./images/desktop/desktop-about-cow-and-milk.webp    1x,
            ./images/desktop/desktop-about-cow-and-milk@2x.webp 2x,
            ./images/desktop/desktop-about-cow-and-milk@3x.webp 3x
          "
          media="(min-width: 1200px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/desktop/desktop-about-cow-and-milk.png    1x,
            ./images/desktop/desktop-about-cow-and-milk@2x.png 2x,
            ./images/desktop/desktop-about-cow-and-milk@3x.png 3x
          "
          media="(min-width: 1200px)"
          type="image/png"
        />
        <source
          srcset="
            ./images/tablet/tablet-about-cow-and-milk.webp    1x,
            ./images/tablet/tablet-about-cow-and-milk@2x.webp 2x,
            ./images/tablet/tablet-about-cow-and-milk@3x.webp 3x
          "
          media="(min-width: 768px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/tablet/tablet-about-cow-and-milk.png    1x,
            ./images/tablet/tablet-about-cow-and-milk@2x.png 2x,
            ./images/tablet/tablet-about-cow-and-milk@3x.png 3x
          "
          media="(min-width: 768px)"
          type="image/png"
        />
        <source
          srcset="
            ./images/mobile/mobile-about-cow-and-milk.webp    1x,
            ./images/mobile/mobile-about-cow-and-milk@2x.webp 2x,
            ./images/mobile/mobile-about-cow-and-milk@3x.webp 3x
          "
          media="(max-width: 767px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/mobile/mobile-about-cow-and-milk.png    1x,
            ./images/mobile/mobile-about-cow-and-milk@2x.png 2x,
            ./images/mobile/mobile-about-cow-and-milk@3x.png 3x
          "
          media="(max-width: 767px)"
          type="image/png"
        />
        <img
            srcset="
              ./images/desktop/desktop-about-cow-and-milk.png    1x,
              ./images/desktop/desktop-about-cow-and-milk@2x.png 2x,
              ./images/desktop/desktop-about-cow-and-milk@3x.png 3x
            "
            src="./images/desktop/desktop-about-cow-and-milk.png"
            alt="Cow and milk"
          />
      </picture> -->
      <img class="about__img" 
      srcset="./images/desktop/desktop-about-cow-and-milk@3x.png 3x, ./images/desktop/desktop-about-cow-and-milk@2x.png 2x" 
      src="./images/desktop/desktop-about-cow-and-milk.png" 
      alt="cow and milk" />
      <div class="about__descr">
          <ul class="about__descr-list">
          <li class="about__descr-list-item"><p class="about__descr--fat">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p></li>
          <li class="about__descr-list-item"><p class="about__descr--slim">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.</p></li>
          <li class="about__descr-list-item"><p class="about__descr--slim">Aliquam erat volutpat. Aenean accumsan.</p></li>
          </ul>
          <button class="about__btn" type="button" data-modal-open>Read more</button>
      </div>
    </div>
  </div>

  <div class="about-modal is-hidden" data-modal>
    <div class="container about-modal__container">
        <button type="button" class="about-modal__close-button" data-modal-close>
            <svg class="about-modal__close-icon" aria-label="link mail" width="30" height="30">
                <use href="./images/svg/icons.svg#icon-close-cross">
            </svg>
        </button> 
        <h2 class="about__title about-modal__title">Need more information?</h2>
        <p class="about__label about-modal__label">leave your contacts and we will send you all details!</p>

        <form action="#" class="about-modal__form" name="main-form" data-netlify="true" id="form">
          <label for="user-name" class="about-modal__field-name">Name
              <input type="text" class="about-modal__field-input" id="user-name" name="user-name" required/>
          </label>
          <label for="user-phone" class="about-modal__field-name">Phone
              <input type="tel" class="about-modal__field-input" id="user-phone" name="user-phone" required/>
          </label>
          <label for="user-email" class="about-modal__field-name">E-mail
              <input type="email" class="about-modal__field-input" id="user-email" name="user-email" required/>
          </label>

          <button type="submit" class="about__btn about-modal__send-btn" id="send-btn">Send</button>
      </form>
      
      
    </div>
  </div>
  <script src="./js/modal.js"></script>
</section>