<section class="advantages section">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages__list">
      <li class="advantages__item">
        <h3 class="advantages__title advantages__icon1">721</h3>
        <p class="advantages__subtitle">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <h3 class="advantages__title advantages__icon2">16kg</h3>
        <p class="advantages__subtitle">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <h3 class="advantages__title advantages__icon3">84</h3>
        <p class="advantages__subtitle">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
