<section class="section contacts__section" id="contacts">
  <div class="container contacts__container">
    <h2 class="visually-hidden">contacts</h2>
    <div class="contacts__wrap">
      <ul class="contacts__list">
        <li class="contacts__item">
          <b class="contacts__sale-type">Cafe</b>
          <p class="contacts__place">Chicago</p>
          <p class="contacts__description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
          <ul class="contacts__timetable">
            <li class="contacts__schedule">
              <p class="contacts__day">Monday - Friday</p>
              <p class="contacts__day-time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contacts__schedule">
              <p class="contacts__day">Saturday - Sunday</p>
              <p class="contacts__day-time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <ul class="contacts__list-connection">
            <li class="contacts__item-connection">
              <a class="contacts__phone-number" href="tel:+610383766284">
                <span class="link">+61(0) 383 766 284</span></a
              >
            </li>
            <li class="contacts__item-connection">
              <a class="contacts__mail" href="mailto:noreply@envato.com">
                <span class="link">noreply@envato.com</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="contacts__item">
          <b class="contacts__sale-type contacts__sale-type--bgcolor">
            Food truck
          </b>
          <p class="contacts__place">Los Angeles</p>
          <p class="contacts__description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
          <ul class="contacts__timetable">
            <li class="contacts__schedule">
              <p class="contacts__day">Monday - Friday</p>
              <p class="contacts__day-time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contacts__schedule">
              <p class="contacts__day">Saturday - Sunday</p>
              <p class="contacts__day-time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <ul class="contacts__list-connection">
            <li class="contacts__item-connection">
              <a class="contacts__phone-number" href="tel:+610383766284">
                <span class="link">+61(0) 383 766 284</span></a
              >
            </li>
            <li class="contacts__item-connection">
              <a class="contacts__mail" href="mailto:noreply@envato.com">
                <span class="link">noreply@envato.com</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="contacts__item">
          <b class="contacts__sale-type"> Cafe </b>
          <p class="contacts__place">New York</p>
          <p class="contacts__description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
          <ul class="contacts__timetable">
            <li class="contacts__schedule">
              <p class="contacts__day">Monday - Friday</p>
              <p class="contacts__day-time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contacts__schedule">
              <p class="contacts__day">Saturday - Sunday</p>
              <p class="contacts__day-time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <ul class="contacts__list-connection">
            <li class="contacts__item-connection">
              <a class="contacts__phone-number" href="tel:+610383766284">
                <span class="link">+61(0) 383 766 284</span></a
              >
            </li>
            <li class="contacts__item-connection">
              <a class="contacts__mail" href="mailto:noreply@envato.com">
                <span class="link">noreply@envato.com</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <ul class="contacts__button">
      <li class="contacts__btn-item">
        <button
          class="button-red button-red--resize contacts__btn"
          type="button"
          data-modal-locations-open
        >
          Our Locations
          <svg class="button-red__icon contacts__button-icon">
            <use
              href="./images/svg/icons.svg#icon-arrow-more"
              width="4.3"
              height="8"
            ></use>
          </svg>
        </button>
      </li>
      <li class="contacts__btn-item">
        <button
          class="button-light button-light--resize contacts__btn"
          data-modal-franchise-open
          type="button"
        >
          Franchise
          <svg
            class="button-light__icon contacts__button-icon"
            width="4.3"
            height="8"
          >
            <use href="./images/svg/icons.svg#icon-arrow-more"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
<button class="link-arrow">
  <span class="icon-arrow"></span>
</button>
