<footer class="footer">
    <div class="container container--underline">
        <div>
            <p class="footer__title">homemade ice cream made <span class="footer__title--large">with passion</span></p>
        </div>
        <div class="footer__socials">
            <ul class="socials">
                <li class="socials__item">
                    <a href="https://github.com/" target="_blank" class="socials__link">
                        <svg class="socials__icon">
                            <use href="/src/images/svg/icons.svg#icon-github" />
                        </svg>
                    </a>
                </li>
                <li class="socials__item">
                    <a href="https://telegram.org/" class="socials__link">
                        <svg class="socials__icon">
                            <use href="/src/images/svg/icons.svg#icon-telegram" />
                        </svg>
                    </a>
                </li>
                <li class="socials__item">
                    <a href="https://www.facebook.com/" class="socials__link">
                        <svg class="socials__icon">
                            <use href="/src/images/svg/icons.svg#icon-facebook" />
                        </svg>
                    </a>
                </li>
            </ul>
            <p class="footer__phone">Feel free to contact <a href="tel:+610383766284"
                    class="footer__phone--red link">+61 (0) 383 766 284</a></p>
        </div>
    </div>
    <p class="footer__copyright">© 2022 - IceCream. All Rights Reserved.</p>
</footer>