<section class="section section--gallery">
  <div class="container container--gallery">
    <h2 class="visually-hidden">Gallery</h2>
    <div class="gallery__set">
      <!-- column 1 -->
      <div class="gallery__column">
        <picture>
          <source
            srcset="
              ./images/mobile/mobile-gallery-pic5-5.jpg    1x,
              ./images/mobile/mobile-gallery-pic5-5@2x.jpg 2x,
              ./images/mobile/mobile-gallery-pic5-5@3x.jpg 3x
            "
            media="(max-width: 767px)"
            type="image/jpg"
          />
          <source
            srcset="
              ./images/mobile/mobile-gallery-pic5-5.webp    1x,
              ./images/mobile/mobile-gallery-pic5-5@2x.webp 2x,
              ./images/mobile/mobile-gallery-pic5-5@3x.webp 3x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />

          <source
            srcset="
              ./images/tablet/tablet-gallery-pic5-5.jpg    1x,
              ./images/tablet/tablet-gallery-pic5-5@2x.jpg 2x,
              ./images/tablet/tablet-gallery-pic5-5@3x.jpg 3x
            "
            media="(min-width: 768px) and (max-width: 1199px)"
            type="image/jpg"
          />
          <source
            srcset="
              ./images/tablet/tablet-gallery-pic5-5.webp    1x,
              ./images/tablet/tablet-gallery-pic5-5@2x.webp 2x,
              ./images/tablet/tablet-gallery-pic5-5@3x.webp 3x
            "
            media="(min-width: 768px) and (max-width: 1199px)"
            type="image/webp"
          />

          <source
            srcset="
              ./images/desktop/desktop-gallery-pic5-5.jpg    1x,
              ./images/desktop/desktop-gallery-pic5-5@2x.jpg 2x,
              ./images/desktop/desktop-gallery-pic5-5@3x.jpg 3x
            "
            media="(min-width: 1200px)"
            type="image/jpg"
          />
          <source
            srcset="
              ./images/desktop/desktop-gallery-pic5-5.webp    1x,
              ./images/desktop/desktop-gallery-pic5-5@2x.webp 2x,
              ./images/desktop/desktop-gallery-pic5-5@3x.webp 3x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />

          <img
            class="gallery__img"
            srcset="
              ./images/mobile/mobile-gallery-pic5-5.jpg     450w,
              ./images/mobile/mobile-gallery-pic5-5@2x.jpg  900w,
              ./images/mobile/mobile-gallery-pic5-5@3x.jpg 1350w
            "
            sizes="50vw"
            src="./images/mobile/mobile-gallery-pic5-5.jpg"
            alt="gallery"
          />
        </picture>
      </div>

      <!-- column 2 -->
      <div class="gallery__column">
        <picture>
          <source
            srcset="
              ./images/mobile/mobile-gallery-pic5-4.jpg    1x,
              ./images/mobile/mobile-gallery-pic5-4@2x.jpg 2x,
              ./images/mobile/mobile-gallery-pic5-4@3x.jpg 3x
            "
            media="(max-width: 767px)"
            type="image/jpg"
          />
          <source
            srcset="
              ./images/mobile/mobile-gallery-pic5-4.webp    1x,
              ./images/mobile/mobile-gallery-pic5-4@2x.webp 2x,
              ./images/mobile/mobile-gallery-pic5-4@3x.webp 3x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />

          <source
            srcset="
              ./images/tablet/tablet-gallery-pic5-4.jpg    1x,
              ./images/tablet/tablet-gallery-pic5-4@2x.jpg 2x,
              ./images/tablet/tablet-gallery-pic5-4@3x.jpg 3x
            "
            media="(min-width: 768px) and (max-width: 1199px)"
            type="image/jpg"
          />
          <source
            srcset="
              ./images/tablet/tablet-gallery-pic5-4.webp    1x,
              ./images/tablet/tablet-gallery-pic5-4@2x.webp 2x,
              ./images/tablet/tablet-gallery-pic5-4@3x.webp 3x
            "
            media="(min-width: 768px) and (max-width: 1199px)"
            type="image/webp"
          />

          <source
            srcset="
              ./images/desktop/desktop-gallery-pic5-4.jpg    1x,
              ./images/desktop/desktop-gallery-pic5-4@2x.jpg 2x,
              ./images/desktop/desktop-gallery-pic5-4@3x.jpg 3x
            "
            media="(min-width: 1200px)"
            type="image/jpg"
          />
          <source
            srcset="
              ./images/desktop/desktop-gallery-pic5-4.webp    1x,
              ./images/desktop/desktop-gallery-pic5-4@2x.webp 2x,
              ./images/desktop/desktop-gallery-pic5-4@3x.webp 3x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />

          <img
            class="gallery__img"
            srcset="
              ./images/mobile/mobile-gallery-pic5-4.jpg     450w,
              ./images/mobile/mobile-gallery-pic5-4@2x.jpg  900w,
              ./images/mobile/mobile-gallery-pic5-4@3x.jpg 1350w
            "
            sizes="50vw"
            src="./images/mobile/mobile-gallery-pic5-4.jpg"
            alt="gallery"
          />
        </picture>
        <picture>
          <source
            srcset="
              ./images/mobile/mobile-gallery-pic5-12.jpg    1x,
              ./images/mobile/mobile-gallery-pic5-12@2x.jpg 2x,
              ./images/mobile/mobile-gallery-pic5-12@3x.jpg 3x
            "
            media="(max-width: 767px)"
            type="image/jpg"
          />
          <source
            srcset="
              ./images/mobile/mobile-gallery-pic5-12.webp    1x,
              ./images/mobile/mobile-gallery-pic5-12@2x.webp 2x,
              ./images/mobile/mobile-gallery-pic5-12@3x.webp 3x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/tablet/tablet-gallery-pic5-12.jpg    1x,
              ./images/tablet/tablet-gallery-pic5-12@2x.jpg 2x,
              ./images/tablet/tablet-gallery-pic5-12@3x.jpg 3x
            "
            media="(min-width: 768px) and (max-width: 1199px)"
            type="image/jpg"
          />
          <source
            srcset="
              ./images/tablet/tablet-gallery-pic5-12.webp    1x,
              ./images/tablet/tablet-gallery-pic5-12@2x.webp 2x,
              ./images/tablet/tablet-gallery-pic5-12@3x.webp 3x
            "
            media="(min-width: 768px) and (max-width: 1199px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/desktop/desktop-gallery-pic5-12.jpg    1x,
              ./images/desktop/desktop-gallery-pic5-12@2x.jpg 2x,
              ./images/desktop/desktop-gallery-pic5-12@3x.jpg 3x
            "
            media="(min-width: 1200px)"
            type="image/jpg"
          />
          <source
            srcset="
              ./images/desktop/desktop-gallery-pic5-12.webp    1x,
              ./images/desktop/desktop-gallery-pic5-12@2x.webp 2x,
              ./images/desktop/desktop-gallery-pic5-12@3x.webp 3x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <img
            class="gallery__img"
            srcset="
              ./images/mobile/mobile-gallery-pic5-12.jpg     450w,
              ./images/mobile/mobile-gallery-pic5-12@2x.jpg  900w,
              ./images/mobile/mobile-gallery-pic5-12@3x.jpg 1350w
            "
            sizes="50vw"
            src="./images/mobile/mobile-gallery-pic5-12.jpg"
            alt="gallery"
          />
        </picture>
      </div>

      <!-- column 3 -->
      <div class="gallery__column">
        <picture>
          <source
            srcset="
              ./images/mobile/mobile-gallery-pic5-1.jpg    1x,
              ./images/mobile/mobile-gallery-pic5-1@2x.jpg 2x,
              ./images/mobile/mobile-gallery-pic5-1@3x.jpg 3x
            "
            media="(max-width: 767px)"
            type="image/jpg"
          />
          <source
            srcset="
              ./images/mobile/mobile-gallery-pic5-1.webp    1x,
              ./images/mobile/mobile-gallery-pic5-1@2x.webp 2x,
              ./images/mobile/mobile-gallery-pic5-1@3x.webp 3x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/tablet/tablet-gallery-pic5-1.jpg    1x,
              ./images/tablet/tablet-gallery-pic5-1@2x.jpg 2x,
              ./images/tablet/tablet-gallery-pic5-1@3x.jpg 3x
            "
            media="(min-width: 768px) and (max-width: 1199px)"
            type="image/jpg"
          />
          <source
            srcset="
              ./images/tablet/tablet-gallery-pic5-1.webp    1x,
              ./images/tablet/tablet-gallery-pic5-1@2x.webp 2x,
              ./images/tablet/tablet-gallery-pic5-1@3x.webp 3x
            "
            media="(min-width: 768px) and (max-width: 1199px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/desktop/desktop-gallery-pic5-1.jpg    1x,
              ./images/desktop/desktop-gallery-pic5-1@2x.jpg 2x,
              ./images/desktop/desktop-gallery-pic5-1@3x.jpg 3x
            "
            media="(min-width: 1200px)"
            type="image/jpg"
          />
          <source
            srcset="
              ./images/desktop/desktop-gallery-pic5-1.webp    1x,
              ./images/desktop/desktop-gallery-pic5-1@2x.webp 2x,
              ./images/desktop/desktop-gallery-pic5-1@3x.webp 3x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <img
            class="gallery__img gallery__img--large"
            srcset="
              ./images/mobile/mobile-gallery-pic5-1.jpg     450w,
              ./images/mobile/mobile-gallery-pic5-1@2x.jpg  900w,
              ./images/mobile/mobile-gallery-pic5-1@3x.jpg 1350w
            "
            sizes="50vw"
            src="./images/mobile/mobile-gallery-pic5-1.jpg"
            alt="gallery"
          />
        </picture>
        <picture>
          <source
            srcset="
              ./images/mobile/mobile-gallery-pic5-7.jpg    1x,
              ./images/mobile/mobile-gallery-pic5-7@2x.jpg 2x,
              ./images/mobile/mobile-gallery-pic5-7@3x.jpg 3x
            "
            media="(max-width: 767px)"
            type="image/jpg"
          />
          <source
            srcset="
              ./images/mobile/mobile-gallery-pic5-7.webp    1x,
              ./images/mobile/mobile-gallery-pic5-7@2x.webp 2x,
              ./images/mobile/mobile-gallery-pic5-7@3x.webp 3x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/tablet/tablet-gallery-pic5-7.jpg    1x,
              ./images/tablet/tablet-gallery-pic5-7@2x.jpg 2x,
              ./images/tablet/tablet-gallery-pic5-7@3x.jpg 3x
            "
            media="(min-width: 768px) and (max-width: 1199px)"
            type="image/jpg"
          />
          <source
            srcset="
              ./images/tablet/tablet-gallery-pic5-7.webp    1x,
              ./images/tablet/tablet-gallery-pic5-7@2x.webp 2x,
              ./images/tablet/tablet-gallery-pic5-7@3x.webp 3x
            "
            media="(min-width: 768px) and (max-width: 1199px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/desktop/desktop-gallery-pic5-7.jpg    1x,
              ./images/desktop/desktop-gallery-pic5-7@2x.jpg 2x,
              ./images/desktop/desktop-gallery-pic5-7@3x.jpg 3x
            "
            media="(min-width: 1200px)"
            type="image/jpg"
          />
          <source
            srcset="
              ./images/desktop/desktop-gallery-pic5-7.webp    1x,
              ./images/desktop/desktop-gallery-pic5-7@2x.webp 2x,
              ./images/desktop/desktop-gallery-pic5-7@3x.webp 3x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <img
            class="gallery__img"
            srcset="
              ./images/mobile/mobile-gallery-pic5-7.jpg     450w,
              ./images/mobile/mobile-gallery-pic5-7@2x.jpg  900w,
              ./images/mobile/mobile-gallery-pic5-7@3x.jpg 1350w
            "
            sizes="50vw"
            src="./images/mobile/mobile-gallery-pic5-7.jpg"
            alt="gallery"
          />
        </picture>
      </div>

      <!-- column 4 -->
      <div class="gallery__column">
        <picture>
          <source
            srcset="
              ./images/mobile/mobile-gallery-pic5-9.jpg    1x,
              ./images/mobile/mobile-gallery-pic5-9@2x.jpg 2x,
              ./images/mobile/mobile-gallery-pic5-9@3x.jpg 3x
            "
            media="(max-width: 767px)"
            type="image/jpg"
          />
          <source
            srcset="
              ./images/mobile/mobile-gallery-pic5-9.webp    1x,
              ./images/mobile/mobile-gallery-pic5-9@2x.webp 2x,
              ./images/mobile/mobile-gallery-pic5-9@3x.webp 3x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/tablet/tablet-gallery-pic5-9.jpg    1x,
              ./images/tablet/tablet-gallery-pic5-9@2x.jpg 2x,
              ./images/tablet/tablet-gallery-pic5-9@3x.jpg 3x
            "
            media="(min-width: 768px) and (max-width: 1199px)"
            type="image/jpg"
          />
          <source
            srcset="
              ./images/tablet/tablet-gallery-pic5-9.webp    1x,
              ./images/tablet/tablet-gallery-pic5-9@2x.webp 2x,
              ./images/tablet/tablet-gallery-pic5-9@3x.webp 3x
            "
            media="(min-width: 768px) and (max-width: 1199px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/desktop/desktop-gallery-pic5-9.jpg    1x,
              ./images/desktop/desktop-gallery-pic5-9@2x.jpg 2x,
              ./images/desktop/desktop-gallery-pic5-9@3x.jpg 3x
            "
            media="(min-width: 1200px)"
            type="image/jpg"
          />
          <source
            srcset="
              ./images/desktop/desktop-gallery-pic5-9.webp    1x,
              ./images/desktop/desktop-gallery-pic5-9@2x.webp 2x,
              ./images/desktop/desktop-gallery-pic5-9@3x.webp 3x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <img
            class="gallery__img"
            srcset="
              ./images/mobile/mobile-gallery-pic5-9.jpg     450w,
              ./images/mobile/mobile-gallery-pic5-9@2x.jpg  900w,
              ./images/mobile/mobile-gallery-pic5-9@3x.jpg 1350w
            "
            sizes="50vw"
            src="./images/mobile/mobile-gallery-pic5-9.jpg"
            alt="gallery"
          />
        </picture>
        <picture>
          <source
            srcset="
              ./images/mobile/mobile-gallery-pic5-8.jpg    1x,
              ./images/mobile/mobile-gallery-pic5-8@2x.jpg 2x,
              ./images/mobile/mobile-gallery-pic5-8@3x.jpg 3x
            "
            media="(max-width: 767px)"
            type="image/jpg"
          />
          <source
            srcset="
              ./images/mobile/mobile-gallery-pic5-8.webp    1x,
              ./images/mobile/mobile-gallery-pic5-8@2x.webp 2x,
              ./images/mobile/mobile-gallery-pic5-8@3x.webp 3x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/tablet/tablet-gallery-pic5-8.jpg    1x,
              ./images/tablet/tablet-gallery-pic5-8@2x.jpg 2x,
              ./images/tablet/tablet-gallery-pic5-8@3x.jpg 3x
            "
            media="(min-width: 768px) and (max-width: 1199px)"
            type="image/jpg"
          />
          <source
            srcset="
              ./images/tablet/tablet-gallery-pic5-8.webp    1x,
              ./images/tablet/tablet-gallery-pic5-8@2x.webp 2x,
              ./images/tablet/tablet-gallery-pic5-8@3x.webp 3x
            "
            media="(min-width: 768px) and (max-width: 1199px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/desktop/desktop-gallery-pic5-8.jpg    1x,
              ./images/desktop/desktop-gallery-pic5-8@2x.jpg 2x,
              ./images/desktop/desktop-gallery-pic5-8@3x.jpg 3x
            "
            media="(min-width: 1200px)"
            type="image/jpg"
          />
          <source
            srcset="
              ./images/desktop/desktop-gallery-pic5-8.webp    1x,
              ./images/desktop/desktop-gallery-pic5-8@2x.webp 2x,
              ./images/desktop/desktop-gallery-pic5-8@3x.webp 3x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <img
            class="gallery__img"
            srcset="
              ./images/mobile/mobile-gallery-pic5-8.jpg     450w,
              ./images/mobile/mobile-gallery-pic5-8@2x.jpg  900w,
              ./images/mobile/mobile-gallery-pic5-8@3x.jpg 1350w
            "
            sizes="50vw"
            src="./images/mobile/mobile-gallery-pic5-8.jpg"
            alt="gallery"
          />
        </picture>
      </div>

      <!-- column 5 -->
      <div class="gallery__column">
        <picture>
          <source
            srcset="
              ./images/mobile/mobile-gallery-pic5-10.jpg    1x,
              ./images/mobile/mobile-gallery-pic5-10@2x.jpg 2x,
              ./images/mobile/mobile-gallery-pic5-10@3x.jpg 3x
            "
            media="(max-width: 767px)"
            type="image/jpg"
          />
          <source
            srcset="
              ./images/mobile/mobile-gallery-pic5-10.webp    1x,
              ./images/mobile/mobile-gallery-pic5-10@2x.webp 2x,
              ./images/mobile/mobile-gallery-pic5-10@3x.webp 3x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/tablet/tablet-gallery-pic5-10.jpg    1x,
              ./images/tablet/tablet-gallery-pic5-10@2x.jpg 2x,
              ./images/tablet/tablet-gallery-pic5-10@3x.jpg 3x
            "
            media="(min-width: 768px) and (max-width: 1199px)"
            type="image/jpg"
          />
          <source
            srcset="
              ./images/tablet/tablet-gallery-pic5-10.webp    1x,
              ./images/tablet/tablet-gallery-pic5-10@2x.webp 2x,
              ./images/tablet/tablet-gallery-pic5-10@3x.webp 3x
            "
            media="(min-width: 768px) and (max-width: 1199px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/desktop/desktop-gallery-pic5-10.jpg    1x,
              ./images/desktop/desktop-gallery-pic5-10@2x.jpg 2x,
              ./images/desktop/desktop-gallery-pic5-10@3x.jpg 3x
            "
            media="(min-width: 1200px)"
            type="image/jpg"
          />
          <source
            srcset="
              ./images/desktop/desktop-gallery-pic5-10.webp    1x,
              ./images/desktop/desktop-gallery-pic5-10@2x.webp 2x,
              ./images/desktop/desktop-gallery-pic5-10@3x.webp 3x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <img
            class="gallery__img"
            srcset="
              ./images/mobile/mobile-gallery-pic5-10.jpg     450w,
              ./images/mobile/mobile-gallery-pic5-10@2x.jpg  900w,
              ./images/mobile/mobile-gallery-pic5-10@3x.jpg 1350w
            "
            sizes="50vw"
            src="./images/mobile/mobile-gallery-pic5-10.jpg"
            alt="gallery"
          />
        </picture>
        <picture>
          <source
            srcset="
              ./images/mobile/mobile-gallery-pic5-12.jpg    1x,
              ./images/mobile/mobile-gallery-pic5-12@2x.jpg 2x,
              ./images/mobile/mobile-gallery-pic5-12@3x.jpg 3x
            "
            media="(max-width: 767px)"
            type="image/jpg"
          />
          <source
            srcset="
              ./images/mobile/mobile-gallery-pic5-12.webp    1x,
              ./images/mobile/mobile-gallery-pic5-12@2x.webp 2x,
              ./images/mobile/mobile-gallery-pic5-12@3x.webp 3x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/tablet/tablet-gallery-pic5-12.jpg    1x,
              ./images/tablet/tablet-gallery-pic5-12@2x.jpg 2x,
              ./images/tablet/tablet-gallery-pic5-12@3x.jpg 3x
            "
            media="(min-width: 768px) and (max-width: 1199px)"
            type="image/jpg"
          />
          <source
            srcset="
              ./images/tablet/tablet-gallery-pic5-12.webp    1x,
              ./images/tablet/tablet-gallery-pic5-12@2x.webp 2x,
              ./images/tablet/tablet-gallery-pic5-12@3x.webp 3x
            "
            media="(min-width: 768px) and (max-width: 1199px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/desktop/desktop-gallery-pic5-12.jpg    1x,
              ./images/desktop/desktop-gallery-pic5-12@2x.jpg 2x,
              ./images/desktop/desktop-gallery-pic5-12@3x.jpg 3x
            "
            media="(min-width: 1200px)"
            type="image/jpg"
          />
          <source
            srcset="
              ./images/desktop/desktop-gallery-pic5-12.webp    1x,
              ./images/desktop/desktop-gallery-pic5-12@2x.webp 2x,
              ./images/desktop/desktop-gallery-pic5-12@3x.webp 3x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <img
            class="gallery__img"
            srcset="
              ./images/mobile/mobile-gallery-pic5-12.jpg     450w,
              ./images/mobile/mobile-gallery-pic5-12@2x.jpg  900w,
              ./images/mobile/mobile-gallery-pic5-12@3x.jpg 1350w
            "
            sizes="50vw"
            src="./images/mobile/mobile-gallery-pic5-12.jpg"
            alt="gallery"
          />
        </picture>
      </div>

      <!-- column 6 -->
      <div class="gallery__column">
        <picture>
          <source
            srcset="
              ./images/mobile/mobile-gallery-pic5-11.jpg    1x,
              ./images/mobile/mobile-gallery-pic5-11@2x.jpg 2x,
              ./images/mobile/mobile-gallery-pic5-11@3x.jpg 3x
            "
            media="(max-width: 767px)"
            type="image/jpg"
          />
          <source
            srcset="
              ./images/mobile/mobile-gallery-pic5-11.webp    1x,
              ./images/mobile/mobile-gallery-pic5-11@2x.webp 2x,
              ./images/mobile/mobile-gallery-pic5-11@3x.webp 3x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/tablet/tablet-gallery-pic5-11.jpg    1x,
              ./images/tablet/tablet-gallery-pic5-11@2x.jpg 2x,
              ./images/tablet/tablet-gallery-pic5-11@3x.jpg 3x
            "
            media="(min-width: 768px) and (max-width: 1199px)"
            type="image/jpg"
          />
          <source
            srcset="
              ./images/tablet/tablet-gallery-pic5-11.webp    1x,
              ./images/tablet/tablet-gallery-pic5-11@2x.webp 2x,
              ./images/tablet/tablet-gallery-pic5-11@3x.webp 3x
            "
            media="(min-width: 768px) and (max-width: 1199px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/desktop/desktop-gallery-pic5-11.jpg    1x,
              ./images/desktop/desktop-gallery-pic5-11@2x.jpg 2x,
              ./images/desktop/desktop-gallery-pic5-11@3x.jpg 3x
            "
            media="(min-width: 1200px)"
            type="image/jpg"
          />
          <source
            srcset="
              ./images/desktop/desktop-gallery-pic5-11.webp    1x,
              ./images/desktop/desktop-gallery-pic5-11@2x.webp 2x,
              ./images/desktop/desktop-gallery-pic5-11@3x.webp 3x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <img
            class="gallery__img"
            srcset="
              ./images/mobile/mobile-gallery-pic5-11.jpg     450w,
              ./images/mobile/mobile-gallery-pic5-11@2x.jpg  900w,
              ./images/mobile/mobile-gallery-pic5-11@3x.jpg 1350w
            "
            sizes="50vw"
            src="./images/mobile/mobile-gallery-pic5-11.jpg"
            alt="gallery"
          />
        </picture>
      </div>
    </div>
  </div>
</section>