    <div class="header__backdrop-menu" data-menu-backdrop>
        <div id="menu" class="header__menu" data-menu>
            <button type="button" class="header__menu-btn" data-menu-button-close>
                <svg class="header__menu-close" aria-label="close button">
                    <use href="./images/svg/icons.svg#icon-close-cross"></use>
                </svg>
            </button>

            <button class="button-white button-white--menu">
                Buy now
                <svg class="button-white__icon">
                    <use href="./images/svg/icons.svg#icon-arrow-more"></use>
                </svg>
            </button>

            <nav>
                <ul class="nav__menu-mobile">
                    <li class="nav__item-mobile nav__item-mobile--current">
                        <a href="#" class="nav__link-mobile"> Home </a>
                    </li>
                    <li class="nav__item-mobile">
                        <a href="#" class="nav__link-mobile">About us</a>
                    </li>
                    <li class="nav__item-mobile">
                        <a href="#" class="nav__link-mobile">How it’s made?</a>
                    </li>
                    <li class="nav__item-mobile">
                        <a href="#" class="nav__link-mobile">Our products</a>
                    </li>
                    <li class="nav__item-mobile">
                        <a href="#" class="nav__link-mobile">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
<header class="section section__header">
    <div class="container container__header">
        <a href="/" class="header__link">
            <svg class="header__logo">
                <use href="./images/svg/icons.svg#icon-logo"></use>
            </svg>
        </a>

        <div class="header__right">
            <nav class="nav">
                <ul class="nav__menu">
                    <li class="nav__item nav__item--current">
                        <a href="#" class="nav__link"> Home </a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">About us</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">How it’s made?</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">Our products</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">Contact</a>
                    </li>
                </ul>
            </nav>

            <button
                type="button"
                class="header__menu-btn"
                aria-expanded="false"
                aria-controls="menu"
                data-menu-button
            >
                <svg class="header__menu-mobile" aria-label="mobile menu">
                    <use href="./images/svg/icons.svg#icon-menu-mobile"></use>
                </svg>
            </button>
        </div>

        <button class="button-white button-white--desktop">
            Buy now
            <svg class="button-white__icon">
                <use href="./images/svg/icons.svg#icon-arrow-more"></use>
            </svg>
        </button>
    </div>
    
    <script src="./js/menu.js"></script>
</header>