<div class="backdrop-buy is-hidden" data-modal-buy>
  <div class="modal-buy">
    <button class="modal-buy__button-close" type="button" data-modal-buy-close>
      <svg class="modal-buy__close-icon" width="15" height="15">
        <use href="/src/images/svg/icons.svg#icon-close-cross"></use>
      </svg>
    </button>
    <div class="modal-buy__inner">
      <h2 class="modal-buy__title">What do you want to order?</h2>
      <form>
        <ul class="modal-buy__list">
          <li class="modal-buy__item">
            <h3 class="modal-buy__caption">fruit ice</h3>
            <img
              class="modal-buy__img"
              src="/src/images/desktop/desktop-gallery-pic5-6@3x.jpg"
              alt=""
            />
            <label class="modal-buy__label">
              Choose quantity
              <input
                class="modal-buy__input"
                type="number"
                name="weight"
                min="0"
                max="150"
                step="1"
                value="0"
              />
            </label>
          </li>
          <li class="modal-buy__item">
            <h3 class="modal-buy__caption">icecoffee</h3>
            <img
              class="modal-buy__img"
              src="/src/images/products/product-2_desktop.png"
              alt=""
            />
            <label class="modal-buy__label">
              Choose quantity
              <input
                class="modal-buy__input"
                type="number"
                name="weight"
                min="0"
                max="150"
                step="1"
                value="0"
              />
            </label>
          </li>
          <li class="modal-buy__item">
            <h3 class="modal-buy__caption">icecream</h3>
            <img
              class="modal-buy__img"
              src="/src/images/products/product-1_desktop.png"
              alt=""
            />
            <label class="modal-buy__label">
              Choose quantity
              <input
                class="modal-buy__input"
                type="number"
                name="weight"
                min="0"
                max="150"
                step="1"
                value="0"
              />
            </label>
          </li>
          <li class="modal-buy__item">
            <h3 class="modal-buy__caption">milkshake</h3>
            <img
              class="modal-buy__img"
              src="/src/images/products/product-3_desktop.png"
              alt=""
            />
            <label class="modal-buy__label">
              Choose quantity
              <input
                class="modal-buy__input"
                type="number"
                name="weight"
                min="0"
                max="150"
                step="1"
                value="0"
              />
            </label>
          </li>
        </ul>
        <button class="modal-buy__submit" type="submit">Buy now</button>
      </form>
    </div>
  </div>
</div>
