<section class="products section">
  <div class="container">
    <p class="products__label">100% natural</p>
    <h2 class="products__title" id="products">products</h2>
    <ul class="products-list">
      <li class="products-list__item">
        <div class="products-list__wraper">
          <div class="front product-card">
            <h3 class="product-card__title">ice cream</h3>
            <p class="product-card__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et.
              <span class="product-card__text-mobile">
                dolore magna aliqua facilisis.
              </span>
            </p>
            <button type="button" class="product-card__btn">
              <svg class="product-card__icon" width="15" height="15">
                <use href="./images/svg/icons.svg#icon-arrow-right"></use>
              </svg>
            </button>
          </div>
          <div class="back product-card">
            <h3 class="product-card__title">ice cream</h3>
            <ul class="product-card__menu">
              <li class="product-card__item">
                <h4 class="product-card__name">Vanilla</h4>
                <p class="product-card__price">$3.50</p>
              </li>
              <li class="product-card__item">
                <h4 class="product-card__name">Chocolate</h4>
                <p class="product-card__price">$3.60</p>
              </li>
              <li class="product-card__item">
                <h4 class="product-card__name">Pistachio</h4>
                <p class="product-card__price">$3.70</p>
              </li>
            </ul>
            <button class="product-card__btn" type="button">
              <svg class="product-card__icon" width="15" height="15">
                <use href="./images/svg/icons.svg#icon-arrow-right"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>
      <li class="products-list__item">
        <div class="products-list__wraper">
          <div class="front product-card">
            <h3 class="product-card__title">ice coffee</h3>
            <p class="product-card__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et.
              <span class="product-card__text-mobile">
                dolore magna aliqua facilisis.
              </span>
            </p>
            <button type="button" class="product-card__btn">
              <svg class="product-card__icon" width="15" height="15">
                <use href="./images/svg/icons.svg#icon-arrow-right"></use>
              </svg>
            </button>
          </div>
          <div class="back product-card">
            <h3 class="product-card__title">ice coffee</h3>
            <ul class="product-card__menu">
              <li class="product-card__item">
                <h4 class="product-card__name">Latte</h4>
                <p class="product-card__price">$4.50</p>
              </li>
              <li class="product-card__item">
                <h4 class="product-card__name">Irish</h4>
                <p class="product-card__price">$5.00</p>
              </li>
              <li class="product-card__item">
                <h4 class="product-card__name">Frappe</h4>
                <p class="product-card__price">$5.70</p>
              </li>
            </ul>
            <button class="product-card__btn" type="button">
              <svg class="product-card__icon" width="15" height="15">
                <use href="./images/svg/icons.svg#icon-arrow-right"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>
      <li class="products-list__item">
        <div class="products-list__wraper">
          <div class="front product-card">
            <h3 class="product-card__title">milkshakes</h3>
            <p class="product-card__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et.
              <span class="product-card__text-mobile">
                dolore magna aliqua facilisis.
              </span>
            </p>
            <button type="button" class="product-card__btn">
              <svg class="product-card__icon" width="15" height="15">
                <use href="./images/svg/icons.svg#icon-arrow-right"></use>
              </svg>
            </button>
          </div>
          <div class="back product-card">
            <h3 class="product-card__title">milkshakes</h3>
            <ul class="product-card__menu">
              <li class="product-card__item">
                <h4 class="product-card__name">Vanilla</h4>
                <p class="product-card__price">$3.50</p>
              </li>
              <li class="product-card__item">
                <h4 class="product-card__name">Banana</h4>
                <p class="product-card__price">$3.50</p>
              </li>
              <li class="product-card__item">
                <h4 class="product-card__name">Strawberry</h4>
                <p class="product-card__price">$3.50</p>
              </li>
            </ul>
            <button class="product-card__btn" type="button">
              <svg class="product-card__icon" width="15" height="15">
                <use href="./images/svg/icons.svg#icon-arrow-right"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
