.reviews {

  @media screen and (min-width: 768px) {
    padding-left: 74px;
    padding-right: 74px;
  }

  @media screen and (min-width: 1200px) {
    padding-left: 116px;
    padding-right: 116px;
  }
}

.reviews__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85px;
  height: 85px;
}

.reviews__thumb {
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
  padding: 43px 50px 17px 50px;
  margin: 32px auto;
  background: var(--bgcQuote);
  z-index: 9;

  @media screen and (min-width: 768px) {
    padding: 37px 6px 36px;
    margin-top: 20px auto;
  }

  @media screen and (min-width: 1200px) {
    padding: 47px 73px 31px;
    margin-top: 16px;
  }
}

.reviews__thumb::after {
  content: '';
  display: block;
  background-image: url(/src/images/png/dots.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 32px;
  height: 4px;
  position: absolute;
  bottom: -16px;
}

.reviews__text {
  position: relative;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.58;
  text-align: center;
  padding: 0 8px 9px 15px;
  background-image: repeating-linear-gradient(to bottom,
      #fafafa00,
      #fafafa00 29px,
      #e1e1e1 30px,
      #e1e1e1 31px);

  @media screen and (min-width: 768px) {
    padding: 0 49px 8px 45px;
    font-size: 14px;
    line-height: 2.16;
  }

  @media screen and (min-width: 1200px) {
    padding: 0 35px 8px 37px;
    font-size: 16px;
    line-height: 1.86;
  }
}

.reviews__text::before {
  content: url(/src/images/png/brackets.png);
  position: absolute;
  display: block;
  left: 0;
  top: -13px;
  z-index: -1;

  @media screen and (min-width: 768px) and (max-width:1199px) {
    top: -17px;
  }

}

.reviews__spot {
  display: flex;
  justify-content: center;
  padding-top: 16px;

  @media screen and (min-width: 1200px) {
    padding-top: 4px;
  }
}

.reviews__name {
  font-size: 14px;
  line-height: 1, 86;
  text-align: center;
  margin: 0;
  margin-top: 32px;
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    padding-bottom: 32px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 20px;
    padding-bottom: 32px;
  }
}

.spot__item {
  display: block;
  width: 4px;
  height: 4px;
  margin-left: 10px;
}

/* Лента слайдов */
.slick-track {
  display: flex;
}

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

.slick-dots li {
  width: 12px;
  height: 12px;
}

// .slider .slick-arrow {
//   display: none;
// }

.slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.slider .slick-dots li {
  list-style: none;
  margin: 0 20px;
}

.slider .slick-dots button {
  font-size: 0;
  width: 12px;
  height: 12px;
  background-color: #d9d9d9;
  border-color: transparent;
  color: #d9d9d9;
  border-radius: 50%;
}

.slider .slick-dots .slick-active button {
  background-color: transparent;
  border-radius: unset;
  background-image: url(/src/images/png/home.png);
}