.footer__section {
    background-color: var(--bgcSection);
    padding-bottom: 5px;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;

     @media screen and (min-width:$tablet){
        margin-bottom: 0;
     }
}

.footer__wrap {
    margin-bottom: 40px;

    @media screen and (min-width:$desktop){
        margin-bottom: 60px;
    }
}

.footer__title {
    font-family: var(--fontSecondary);
    color: var(--colorOverline);
    font-size: 18px;
    line-height: 1.67;
    text-transform: uppercase;
    text-align: left;
    max-width: 232px;
    margin-bottom: 16px;

    @media screen and (min-width:$tablet){
        font-size: 26px;
        line-height: 1.15;
        letter-spacing: 0.04em;
        max-width: 340px;
        margin-bottom: 12px;
    }

    @media screen and (min-width:$desktop){
        font-size: 30px;
        line-height: 1.13; 
        max-width: 100%;
        margin-bottom: 16px;
    }
}

.footer__title--large {
    font-family: var(--fontSecondary);
    color: var(--colorPrimary);
    font-size: 34px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: left;
    max-width: 200px;

    @media screen and (min-width:$tablet){
        font-size: 48px;
        line-height: 1.15;
        letter-spacing: 0.06em;
        max-width: 340px;
    }

    @media screen and (min-width:$desktop){
        font-size: 58px;
        line-height: 1.14;
        max-width: 100%;
    }
}

.footer__wrap--right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;

    @media screen and (min-width:$desktop){
        justify-content: start;
    }

}

.socials {
    display: flex;
    gap: 28px;
    margin-bottom: 40px;
    margin-left: auto;

    @media screen and (min-width:$tablet){
        gap: 30px;
    }

    @media screen and (min-width:$desktop){
        margin-top: 12px;
    }
}

.socials__link {
    display: block;
}

.socials__icon {
    width: 32px;
    height: 32px;
    fill: #fea5bb;
    transition-property: fill;
    transition-duration: var(--durationPrimary);
    transition-timing-function: var(--timingPrimary);

    &:hover {
        fill: var(--colorPrimary);
    }

    @media screen and (min-width:$tablet) {
        width: 34px;
        height: 34px;

    }
}

.footer__phone {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.86;
    // margin-bottom: 40px;

    @media screen and (min-width:$tablet){
        font-size: 14px;
    }

    @media screen and (min-width:$desktop){
        font-size: 16px;
        letter-spacing: 0.02em;
    }
}

.footer__phone--red {
    color: var(--colorPrimary);
}

.footer__line {
    border-bottom: 1px solid #E1E1E1;
    height: 1px;
    width: 100vw;
    margin: 0 auto;
    margin-bottom: 16px;

    @media screen and(min-width:$tablet){
        margin-bottom: 8px;
    }

    @media screen and (min-width:$desktop){
        width: 1168px;
        margin-bottom: 8px;
    }
}

.footer__copyright {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.52;
    text-align: center;
    color: var(--colorDescription);
    width: 50%;
    text-align: center;
    margin: 0 auto;

    @media screen and (min-width:$tablet){
        line-height: 1.86;  
        letter-spacing: 0.02em;
    }
}

