// .section {
//     max-width: 1600px;
//     margin: 0 auto;
//     text-align: center;
//     padding-top: 60px;
//     padding-bottom: 60px;
// }

// .container {
//     padding: 0 20px;
//     margin: 0 auto;

//     @media screen and (min-width: 279px) {
//         width: calc(100vw - 40px);
//     }

//     @media screen and (min-width: 768px) {
//         width: 768px;
//         padding: 0 32px;
//     }

//     @media screen and (min-width: 1200px) {
//         width: 1200px;
//         padding: 0 16px;
//     }
// }

// --- header scss
.section__header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    padding: 0;
    padding-top: 8px;
    background-color: var(--bgcHeader);

    @media screen and (min-width: 768px) {
        padding-top: 29px;
    }

    @media screen and (min-width: 1200px) {
        padding-top: 37px;
    }
}

.container__header {
    @include flex-pos(flex, space-between);
}

.header__logo {
    display: block;
    width: 199px;
    height: 50px;
}

.header__right {
    margin-left: auto;
    @include flex-pos();
}

.nav {
    @media screen and (max-width: 1199px) {
        display: none;
    }
}

.nav__menu {
    @include flex-pos($jc: start);
    background-color: transparent;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(22 / 16);
    color: var(--colorWhite);
}

.nav__item {
    & + & {
        margin-left: 35px;
    }
}

.nav__link {
    color: inherit;
    padding: 14px 0;
}

.header__menu-btn {
    background-color: transparent;
    cursor: pointer;
}

.header__menu-mobile {
    display: block;
    width: 20px;
    height: 12px;
    flex-shrink: 0;

    @media screen and (min-width: 1200px) {
        display: none;
    }
}

.header__menu-mobile.is-open {
    display: none;
}

.header__backdrop-menu {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
    height: var(--menuTabletHeight);
    background-color: var(--bgcBackDrop);
    transition: visibility var(--durationPrimary) var(--timingPrimary);
}

.header__backdrop-menu.is-open {
    visibility: visible;
}

.header__menu {
    position: absolute;
    top: 0;
    left: 100vw;
    z-index: 20;
    width: var(--menuMobileWidth);
    height: 100vh;
    overflow: hidden;
    background-color: var(--bgcMenuMobile);
    box-shadow: var(--shadowMenuMobile);
    transform: translateX(0);
    opacity: 0;

    transition: transform var(--durationSecondary) var(--timingSecondary), opacity var(--durationSecondary) var(--timingSecondary);
}

.header__menu.is-open {
    transform: translateX(-100%);
    opacity: 1;
}

.header__menu-close {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 20;
    display: block;
    width: 14px;
    height: 14px;

    @media screen and (min-width: 1200px) {
        display: none;
    }
}

.nav__header {
    text-align: left;
}

.nav__item-mobile {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    color: var(--colorWhite);
    border-top: 1px solid var(--colorBorder);
    border-bottom: 1px solid var(--colorBorder);

    transition: color var(--durationPrimary) var(--timingPrimary);

    &:hover,
    &:focus {
        color: var(--colorPrimary);
    }
}

.nav__item-mobile--current,
.nav__item--current {
    color: var(--colorPrimary);
}

.nav__link-mobile {
    display: block;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    color: inherit;
}

// --- buttons scss
.button-white {
    @include flex-pos();
    padding: 0;

    font-weight: 700;
    font-size: 16px;

    color: var(--colorPrimary);
    background-color: var(--bgcBtnWhite);
    border: none;
    border-radius: 20px;
    cursor: pointer;

    transition: background-color var(--durationPrimary) var(--durationPrimary);

    &:hover,
    &:focus {
        background-color: var(--bgcBtnWhiteHover);
    }
}

.button-dark {
    @include flex-pos();
    padding: 0;

    font-weight: 700;
    font-size: 16px;

    color: var(--colorWhite);
    background-color: var(--bgcBtnDark);
    border: none;
    border-radius: 20px;
    cursor: pointer;

    transition: background-color var(--durationPrimary) var(--durationPrimary);

    &:hover,
    &:focus {
        background-color: var(--bgcBtnDarkHover);
    }
}

.button-white--desktop {
    display: block;
    width: 160px;
    height: 44px;

    @media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and (min-width: 768px) {
        margin-left: 32px;
    }

    @media screen and (min-width: 1200px) {
        margin-left: 141px;
    }
}

.button-white--menu {
    display: block;
    width: 209px;
    height: 44px;
    margin: 60px auto 19px;

    @media screen and (min-width: 768px) {
        width: 186px;
    }
}

.button-white__icon,
.button-dark__icon {
    width: 5px;
    height: 8px;
    fill: currentColor;
    margin-left: 12px;
}

// --- hero scss