.products__label{
    margin-bottom: 15px;

    font-family: 'Titan One';
    font-size: 18px;
    line-height: 1.17;
    text-align: center;
    text-transform: uppercase;
    
    color: #FFA5BA;
}
.products__title{
    margin-bottom: 8px;

    font-family: 'Titan One';
    font-size: 34px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    
    color: var(--section-title-color);
}

.product-list__item{
    position: relative;
    margin-top: 140px;
    width: 280px;
    height: 489px;
    border-radius: 24px;

&:first-child{
    background-color: #FFB8CA;
    &::before {
            position: absolute;
            top: -140px;
            content: " ";
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            width: 280px;
            height: 280px;
            background-image: url(../images/products/product-1_mobile.png);
    
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url(../images/products/product-1_mobile@2x.png);
            }
        }
    }
&:nth-child(2){
    background-color: #F0D1A5;
    &::before {
            position: absolute;
            top: -140px;
            content: " ";
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            width: 280px;
            height: 280px;
            background-image: url(../images/products/product-2_mobile.png);
    
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url(../images/products/product-2_mobile@2x.png);
            }
        }
    }

&:last-child{
    background-color: #C2E297;
    &::before {
            position: absolute;
            top: -140px;
            content: " ";
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            width: 280px;
            height: 280px;
            background-image: url(../images/products/product-3_mobile.png);
    
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url(../images/products/product-3_mobile@2x.png);
            }
        }
    }


}

.product-list__title{
    padding-top: 160px;
    margin-bottom: 32px;
    font-family: 'Titan One';
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    
    color: #FFFFFF;

    &::after{
    display: flex;
   margin-right: auto;
   margin-left: auto;
   margin-top: 32px;
    content: "";
    width: 26px;
    height: 6px;
    background-image: url(../images/products/product-dot.png);
    }
}
.product-list__describe{
    padding-left: 41px;
    padding-right: 39px;
}
.product-list__text{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.52;
    text-align: center;
    letter-spacing: 0.04em;
    
    color: #FFFFFF;
}

.product-list__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    margin-right: auto;
    margin-left: auto;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: #fff;
}