.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal-buy {
  transform: translate(-50%, 50%) scale(0.5);
}

.modal-buy {
  position: absolute;
  display: flex;
  max-width: 450px;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
  position: relative;
  border-radius: 15px;
  background-color: var(--bgcMenuMobile);
  align-content: center;
  justify-content: center;
  @media screen and (max-width: 767px) {
    overflow-y: scroll;
  }
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 760px;
    max-height: 530px;
  }
  @media screen and (min-width: $desktop) {
    max-width: 1100px;
    max-height: 610px;
  }
}

.modal-buy__close-icon {
  width: 15px;
  height: 15px;
  @media screen and (min-width: $desktop) {
    width: 20px;
    height: 20px;
  }
}

.modal-buy__button-close {
  position: absolute;
  right: 10px;
  top: 10px;
  color: var(--colorWhite);
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}
.modal-buy__inner {
  justify-content: center;
  padding: 50px;
  text-align: center;
  @media screen and (min-width: $tablet) {
    padding: 10px;
  }
}

.modal-buy__title {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: var(--colorWhite);
  margin-bottom: 18px;
  @media screen and (min-width: $tablet) {
    font-size: 42px;
  }
}

.modal-buy__list {
  background-color: var(--colorWhite);
  border-radius: 12px;
  padding: 20px;
  justify-content: center;
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 12px;
    max-width: 820px;
  }
  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
  }
  @media screen and (min-width: $desktop) {
    gap: 12px;
    max-width: 1100px;
    max-height: 400px;
    flex-direction: row;
  }
}

.modal-buy__item {
  width: 100%;
  justify-content: center;
  border: 2px solid #ffb8ca;
  border-radius: 12px;
  padding: 5px;
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  @media screen and (min-width: 450px) {
    max-width: 310px;
  }
  @media screen and (min-width: $tablet) {
    max-width: 200px;
  }
  @media screen and (min-width: $desktop) {
    max-width: 600px;
  }
}

.modal-buy__img {
  @media screen and (min-width: $tablet) {
    height: 170px;
  }
  @media screen and (min-width: $desktop) {
    height: 250px;
  }
}

.modal-buy__caption {
  font-family: var(--fontSecondary);
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: var(--colorPrimary);
}

.modal-buy__submit {
  font-family: var(--fontPrimary);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  color: var(--colorPrimary);
  cursor: pointer;
  background: var(--colorWhite);
  border-radius: 20px;
  border-color: transparent;
  padding: 11px 23px;
  margin-top: 18px;
  margin-bottom: 18px;
  @media screen and (min-width: $tablet) {
    padding: 15px 24px;
    font-size: 22px;
  }
  &:hover {
    background-color: var(--bgcBtnWhiteHover);
  }
}

.modal-buy__label {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 176%;
  color: var(--colorBlack);
}

.modal-buy__input {
  border: none;
  text-align: center;
  outline-color: var(--colorPrimary);
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: var(--colorPrimary);
}
